.headerContainer {
  background-color: #CB4B16;
  max-width: 960;
  width: 100%;
  margin: auto;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 0.223rem 0.368rem;
  position: fixed;
  transform: translate3d(0,0,0);
  z-index: 101;
}

.headerMaxWidthContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.headerButton {
  background-color: #5cad9b;
  background: #5cad9b;
  color: #000;
  transition: padding 0.092s ease-in-out;
  border-radius: .368rem;
  display: inline-block;
  font-size: 1rem;
  padding: .368rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0.223rem 0.368rem rgba(0,0,0,.368);
  position: relative;
  height: 77.9%;
  top: 11.05%;
  border: none;
}

.headerButton:hover {
  transform: scale(1.064);
}

h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #fff;
}

.headerH1 {
  margin: 10px;
}

@media (max-width: 440px) {
  .footer {
    font-size: 10px;
  }
}
