.headerContainer {
  background-color: #CB4B16;
  height: 50px;
  max-width: 960;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 0.223rem 0.368rem;
}

.headerMaxWidthContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

h2 a {
  text-decoration: none;
  color: white;
}

h2 a:hover {
  color: #fff;
}

.headerH1 {
  margin: 10px;
}

@media (max-width: 440px) {
  .footer {
    font-size: 10px;
  }
}
